*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
}

#text {
  width: 95vw;
  height: 90vh;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: "montserrat";
  border: 1px solid tomato;
}
